@font-face {
    font-family: "icomoon";
    font-weight: normal;
    font-style: normal;

    src: url("https://i.icomoon.io/public/temp/eb6e7683f2/UntitledProject/icomoon.eot?lmf0ab");
    src: url("https://i.icomoon.io/public/temp/eb6e7683f2/UntitledProject/icomoon.eot?lmf0ab#iefix") format("embedded-opentype"),
    url("https://i.icomoon.io/public/temp/eb6e7683f2/UntitledProject/icomoon.ttf?lmf0ab") format("truetype"),
    url("https://i.icomoon.io/public/temp/eb6e7683f2/UntitledProject/icomoon.woff?lmf0ab") format("woff"),
    url("https://i.icomoon.io/public/temp/eb6e7683f2/UntitledProject/icomoon.svg?lmf0ab#icomoon") format("svg");
}

[class^="icon-"],
[class*=" icon-"] {
    text-transform: none;

/* use !important to prevent issues with browser extensions that change fonts */

    font-family: "icomoon" !important;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;

/* Better Font Rendering =========== */

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-shopping-bag:before {
    content: "\e900";
}
.icon-search:before {
    content: "\e986";
}
.icon-menu:before {
    content: "\e9bd";
}
.icon-heart:before {
    content: "\e9da";
}
.icon-arrow-right2:before {
    content: "\ea3c";
}
.icon-share2:before {
    content: "\ea82";
}
.icon-google-plus:before {
    content: "\ea8b";
}
.icon-facebook:before {
    content: "\ea90";
}
.icon-instagram:before {
    content: "\ea92";
}
.icon-twitter:before {
    content: "\ea96";
}