.menu-clothes {
    display: flex;

    margin: 4% 14%;

    flex-flow: row nowrap;
    justify-content: center;
}

.menu-clothes__item {
    display: inline-block;

    margin: 0 2%;

    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
    letter-spacing: 1px;

    font: bold 1.15em "Montserrat", sans-serif;
}
