.product-types {
    display: flex;

    margin: 3% 19.5% 0 19.5%;

    text-align: center;

    flex-flow: column nowrap;
}

.product-types__item-wrapper {
    display: flex;

    width: 100%;

    flex-flow: row nowrap;
    justify-content: space-between;
}

.product-types__header {
    font: bold 1.25em "Montserrat", sans-serif;
}

.product-types__info {
    margin: 2% 0;

    letter-spacing: 2px;

    color: #171717;

    font: 600 0.65em "Montserrat", sans-serif;
}

.product-types__item {
    position: relative;
}
.product-types__item:nth-child(2) {
    margin: 0 2%;
}
.product-types__item-image {
    max-width: 100%;
}
.product-types__item-button {
    position: absolute;
    bottom: 5%;
    left: 15%;

    width: 70%;
    padding: 15px 0;

    cursor: pointer;
    white-space: nowrap;

    color: rgb(255, 255, 255);
    border: 0;
    border-radius: 20px;
    outline: none;
    background-color: #000000;

    font: 600 0.6em "Montserrat", sans-serif;
}


@media only screen and (max-width: 1050px) {
    .product-types {
        margin: 3% 10% 0 10%;
    }
}

@media only screen and (max-width: 800px) {
    .product-types {
        margin: 3% 0 0 0;
    }
    .product-types__item-wrapper {
        flex-flow: column nowrap;
    }
    .product-types__item:nth-child(2) {
        margin: 2% 0;
    }
    .product-types__item-button {
        left: 35%;

        width: 30%;
        padding: 15px 0;
    }
}
